.App {
  text-align: center;
}

.user-search-container {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 20px;
}

.highlighted {
  background-color: #f0f0f0
}

.list-item-wrapper {
  max-height: 400px;
  overflow-y: auto;
}

.no-outline {
  outline: none;
}
.list-item {
  border-bottom: 1px dotted;
}

.pf-c-select__menu-item:hover {
  background-color: unset !important
}


/* Keypress */

.comp-b, .comp-a {
  height: 200px;
  border: solid;
  margin: 15px;
  margin-left: 30%;
  margin-right: 30%;
}

.toggle-a {
  background-color: teal;
}

.toggle-b {
  background-color: red;
}

.component-events {
  margin: 20px;
}
